<!-- index.ejs -->
<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <a href="./new">
      <span>Send a message!</span>
    </a>
    <ul>
      <% for (let i = 0; i < messages.length; i++) { %>
        <%= messages[i].user %> - 
        <%= messages[i].text %>
        <button>
          <a href="./<%= i %>">
            <span>Open details</span>
          </a>
        </button><br>
        <date>(<%= messages[i].added.getMonth() %>/<%= messages[i].added.getDate() %>/<%= messages[i].added.getDate() %>) <%= messages[i].added.getHours() %>:<%= messages[i].added.getMinutes().toString().padStart(2, '0') %></date>
        <hr />
      <% } %>
    </ul>
  </body>
</html>